.react-calendar {
  width: 100%;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  display: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 15px;
  font-weight: 500;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size: 12px;
  color: var(--color-gray-400);
}

abbr {
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  position: sticky;
  font-size: 15px;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.react-calendar__tile {
  width: 7vw;
  max-height: 50px;
  padding: 10px;
  display: grid;
  place-items: center;
  font: inherit;
  border-radius: 8px;
  width: 100%;
  height: 6vh;
  padding: 6px;
}

.react-calendar__tile:disabled {
  color: var(--color-gray-300);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--color-gray-300);
}

.react-calendar__tile--hasActive {
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary);
}

.react-calendar__tile--active {
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary);
}

.react-calendar__tile--now {
  background-color: var(--color-primary-sub) !important;
  color: var(--color-primary) !important;
}
