@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

@layer components {
    .section {
        @apply container mx-auto px-5
    }

    .m-nav {
        @apply mt-[52.5px] md:mt-[61px]
    }

    .p-nav {
        @apply pt-[52.5px] md:pt-[61px]
    }

    .animation {
        @apply transition ease-in-out hover:shadow-lg
    }

    .animation-card {
        @apply transition ease-in-out hover:shadow-lg hover:-translate-y-1.5 cursor-pointer
    }

}

a,
img {
    -webkit-user-drag: none;
}