@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'NanumSquare', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer components {
  /* Text Loop Styles */
  .textLoopLeft {
    animation: slide 10s infinite linear;
    --slide-start-offset: 0%;
    --slide-end-offset: -50%;
  }

  .textLoopRight {
    animation: slide 10s infinite linear;
    --slide-start-offset: -50%;
    --slide-end-offset: 0%;
  }

  @keyframes slide {
    0% {
      transform: translateX(var(--slide-start-offset));
    }
    100% {
      transform: translateX(var(--slide-end-offset));
    }
  }

  /* Scroll Fade */
  .scroll-fade-info,
  .scroll-fade-activity {
    @apply transform opacity-0 transition-all duration-1000 ease-out;
    transform: translateY(100px);
  }

  .scroll-fade-info.visible,
  .scroll-fade-activity.visible {
    @apply translate-y-0 transform opacity-100;
  }

  /* Flip Container */
  .flip-container {
    perspective: 1000px;
    @apply shadow-clab-blue flex h-[18rem] w-[18rem] flex-col overflow-hidden whitespace-normal rounded-[50%] text-center shadow-[0_0_20px_1px];
  }

  .flip {
    transform-style: preserve-3d;
    @apply relative flex h-full w-full rounded-[50%] transition-transform duration-500;
  }

  .front,
  .back {
    backface-visibility: hidden;
    @apply absolute flex h-full w-full items-center justify-center rounded-[50%];
  }

  .front {
    background-color: transparent;
  }

  .back {
    transform: rotateY(180deg);
    @apply bg-clab-blue;
  }

  .flip-container:hover .flip {
    transform: rotateY(-180deg);
  }
}
