@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'NanumSquare', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.textLoopWrapper {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.textLoop {
  display: inline-flex;
}

.textLoop > p {
  margin-right: 4rem;
  font-size: 20vh;
}

.textLoopLeft {
  animation: slide 10s infinite linear;
  --slide-end-offset: -50%;
  --slide-start-offset: 0%;
}

.textLoopRight {
  animation: slide 10s infinite linear;
  --slide-end-offset: 0%;
  --slide-start-offset: -50%;
}

@keyframes slide {
  0% {
    transform: translateX(var(--slide-start-offset, 0%));
  }
  100% {
    transform: translateX(var(--slide-end-offset, 0%));
  }
}

.scroll-fade-info {
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.scroll-fade-info.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-fade-activity {
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.scroll-fade-activity.visible {
  opacity: 1;
  transform: translateY(0);
}

.flip-container {
  perspective: 1000px;
  overflow: hidden;
  border-radius: 9999px;
  width: 18rem;
  height: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  box-shadow: 0 0 20px 1px #5874ff;
}

.flip {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s;
  border-radius: 9999px;
  display: flex;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.front {
  background: none;
}

.back {
  background: #5874ff;
  transform: rotateY(180deg);
}

.flip-container:hover .flip {
  transform: rotateY(-180deg);
}

